.navbar{
	padding:0 0;
}

#mcontainer_mainmenu{
	background-color:#3C245E !important;
	height: 75px;
}

#mcontainer_logo a{
	color:#03D1AB;
    text-decoration: none;
    font-size: 1.25rem;
}

#mcontainer_categories{
	min-width: fit-content;
}

#mbuttons_usercart button{
	background-color: #03D1AB;
	border-color:#fff;
	color: #fff;
}
#mcontainer_toggler{
	color:#fff;
}

#mcontent_collapsed{
	background-color: #3C245E;
	width:100%;
}

.banner{
	padding:0.5rem;
}

@media (max-width: 991.98px) {
	.banner{
		padding-top:2rem;
	}
 }

.banner_content{
	background-color: #CCCCCC;
	box-sizing: border-box;
	padding:1.25rem;
	margin:0;
}

.banner_text{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.banner_text .badge{
	color: #CCCCCC;
	background-color: #3C245E;
	margin-left:1rem;
}

.banner_text button{
	margin-top:0.8rem;
	
}

@media (max-width: 991.98px) {
	.banner_img{
		display: flex;
		justify-content: center;
		padding-bottom:0.8rem;
	}
 }

 .banner_img img{
	display: inline-block;
	max-height: 200px;
}







