.navbar{
	padding:0 0;
}

#mcontainer_mainmenu{
	background-color:#3C245E !important;
	height: 75px;
}

#mcontainer_logo a{
	color:#03D1AB;
    text-decoration: none;
    font-size: 1.25rem;
}

#mcontainer_categories{
	min-width: fit-content;
}

#mbuttons_usercart button{
	background-color: #03D1AB;
	border-color:#fff;
	color: #fff;
}
#mcontainer_toggler{
	color:#fff;
}

#mcontent_collapsed{
	background-color: #3C245E;
	width:100%;
}

.banner{
	padding:0.5rem;
}

@media (max-width: 991.98px) {
	.banner{
		padding-top:2rem;
	}
 }


.banner_content{
	background-color: #CCCCCC;
	box-sizing: border-box;
	overflow: auto;
	padding:2rem;
}

.banner img{
	display: inline-block;
	float: left;
	height:100%;
	max-height: 200px;
	margin-right: 1rem;
}

.banner .badge{
	color: #CCCCCC;
	background-color: #03D1AB;

}

.banner button{
	padding-right: 2rem;
	padding-left: 2rem;
	
}





