<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Rockets Excercise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" media="screen" href="css/styles.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/bootstrap.min.css">
    <link href="icon/css/all.css" rel="stylesheet">

    <script src="../MODEL/app.js"></script>
    <script src="../CONTROLLER/controller.js"></script>

</head>
<body onload="loadContent()">
<header>
    <H1><i class="fas fa-rocket"></i> Coets</H1>
</header>
<div class="content container">
        <div id="div_coets">hola</div>
</div>

</body>
</html>